### PLOTTING
.ipynb_checkpoints/
ls
plots % ls
plot1.ipynb
plots % git init
Initialized empty Git repository in /Users/ameer/Projects/ml/plots/.git/
plots % git status
On branch main

.ipynb_checkpoints/
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~


